<div class="container-fluid biopsy">
    <div class="row mb-2">
        <div class="col-8 "></div>
        <div class="col-4 p-0 next-step justify-content-end d-flex">
            <button class="ci-button-next test-button-next justify-content-center">
                <img
                    class="img-back-table"
                    src="assets/svg/back.svg"
                >
                Not yet reviewed
                <img
                    class="img-back-chart"
                    src="assets/svg/next.svg"
                >
            </button>
        </div>
    </div>
    <table
        mat-table
        [dataSource]="dataSource"
        class="tableStyle w-100 ci-normal-table"
    >
        <ng-container matColumnDef="organ">
            <th
                mat-header-cell
                *matHeaderCellDef
            > Organ </th>
            <td
                mat-cell
                *matCellDef="let element"
            > {{element.OrganName}} </td>
        </ng-container>
        <ng-container matColumnDef="test">
            <th
                mat-header-cell
                *matHeaderCellDef
            > Test </th>
            <td
                mat-cell
                *matCellDef="let element"
            > {{element.TestName}} </td>
        </ng-container>
        <ng-container matColumnDef="result">
            <th
                mat-header-cell
                *matHeaderCellDef
            > Result </th>
            <td
                mat-cell
                *matCellDef="let element"
            > {{element.NumbericResult}} </td>
        </ng-container>
        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
    </table>

</div>