#notification {
    min-width: 200px;
    color: #fff;
    // background: #03b957;
    background: #1c2b23;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 30px;
    right: -20em;
    opacity: 0;
}

@keyframes notiShow {
    0% {
        right: -10em;
        top: 0px;
        opacity: 0;
    }
    25% {
        right: 20px;
        top: 0px;
        opacity: 0.8;
    }
    50% {
        right: 20px;
        top: 0px;
        opacity: 0.9;
    }
    65% {
        right: 20px;
        top: 0px;
        opacity: 0.8;
    }
    75% {
        right: -13em;
        top: 0px;
        opacity: 0.5;
    }
    100% {
        right: -14em;
        top: 0px;
        opacity: 0;
    }
}
