.ci-vital {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 92%;
        border-spacing: 0px 50px;

        th {
            padding: 5px;
            background-color: #9fb9c8;
            color: white;
        }

        td {
            padding: 10px;
            white-space: nowrap;
            padding-left: 30px;
        }
    }

    .next-step {
        position: absolute;
        right: 45px;
        top: 106px;

        .ci-button-next {
            min-width: 145px;
        }
    }
}
kendo-chart {
    height: 480px;
    margin-top: 10px;
}
.vital-button {
    margin-right: 45px;
    position: fixed;
    bottom: 60px;
}
.table-list-vital {
    margin-top: 20px;

    .header-table {
        background-color: #9fb9c8;
        border-radius: 30px;
    }
}

.border-radius-30-0 {
    border-radius: 30px 0 0 30px;
}

.border-radius-0-30 {
    border-radius: 0 30px 30px 0;
}

.border-radius-t-r-30 {
    border-radius: 0 30px 0px 0;
}

.border-radius-b-r-30 {
    border-radius: 0 0px 30px 0;
}

.scoll-vital {
    width: 97%;
    top: 140px;
    position: absolute;
}

.fixh123 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
}

.overTable {
    width: 125px;
    height: 96%;
    background-color: #f6f6f6;
    position: absolute;
    left: 0px;
    top: 20px;
}

.z-1 {
    z-index: 1;
}

.b-bt-1 {
    border-bottom: 1px solid;
}

.unit-kendo-chart {
    float: left;
    right: 30px;
    position: absolute;
}

.text-left-chart {
    width: 50px;
    top: 430px;
    position: absolute;
    z-index: 100;
    text-align: center;
    color: white;
}

.text-right-chart {
    width: 40px;
    top: 430px;
    position: absolute;
    z-index: 100;
    text-align: center;
    right: 15px;
    color: white;
}

br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 0.5em !important;
}

.margin-vital {
    margin-right: 15px;
    margin-top: 24px;
    margin-left: 15px;
}
.ci-font-regular {
    font-size: 12px;
    font-weight: 500;
}

.vitals-button-next {
    position: relative;
}
