<div class="ci-p-30-table">
    <table
        mat-table
        class="tableStyle ci-normal-table w-100"
        [dataSource]="dataSource"
    >
        <ng-container matColumnDef="Problem">
            <th
                mat-header-cell
                *matHeaderCellDef
            >{{'PROBLEM' | translate}}</th>
            <td
                mat-cell
                *matCellDef="let a"
            >
                {{ a.Purpose}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th
                mat-header-cell
                *matHeaderCellDef
            >{{'NAME' | translate}}</th>
            <td
                mat-cell
                *matCellDef="let a"
            >
                {{ a.DrugName}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Dose">
            <th
                mat-header-cell
                *matHeaderCellDef
            >{{'DOSE' | translate}}</th>
            <td
                mat-cell
                *matCellDef="let a"
            >
                {{ a.DoseValue}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Frequency">
            <th
                mat-header-cell
                *matHeaderCellDef
            >{{'FREQUENCY' | translate}}</th>
            <td
                mat-cell
                *matCellDef="let a"
            >
                {{ a.FrequencyValue}} {{ a.FrequencyUnit}}
            </td>
        </ng-container>
        <ng-container matColumnDef="StartDate">
            <th
                mat-header-cell
                *matHeaderCellDef
            >{{'STARTDATE' | translate}}</th>
            <td
                mat-cell
                *matCellDef="let a"
            >
                {{ a.StartDate | date : "MM/dd/yyyy"}}
            </td>
        </ng-container>
        <ng-container matColumnDef="EndDate">
            <th
                mat-header-cell
                *matHeaderCellDef
            >{{'ENDDATE' | translate}}</th>
            <td
                mat-cell
                *matCellDef="let a"
            >
                {{ a.EndDate | date : "MM/dd/yyyy"}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Route">
            <th
                mat-header-cell
                *matHeaderCellDef
            >{{'ROUTE' | translate}}</th>
            <td
                mat-cell
                *matCellDef="let a"
            >
                {{ a.Route}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Detail">
            <th
                mat-header-cell
                *matHeaderCellDef
            >{{'DETAILS' | translate}}</th>
            <td
                mat-cell
                *matCellDef="let a"
            >
                {{ a.Detail}}
            </td>
        </ng-container>
        <ng-container matColumnDef="Action">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="width-100px"
            >#</th>
            <td
                mat-cell
                *matCellDef="let a"
            >
                <img
                    class="h-20 mr-3"
                    src="assets/svg/edit-inline.svg"
                    (click)="openDialogEdit(a)"
                >
                <img
                    class="h-20"
                    src="assets/svg/deleteinline.svg"
                    (click)="onDeleteMedication(a)"
                >
            </td>
        </ng-container>
        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
        ></tr>
    </table>
    <div class="ci-group-btn">
        <img
            (click)="openDialog()"
            src="assets/svg/Bottomadd.svg"
        />
        <!-- <img src="assets/svg/print.svg" /> -->
    </div>
</div>
