$ci-color-white: #ffffff;
$ci-color-white-smoke: #f1f1f1;
$ci-color-white-smoke-f6: #f5f5f5;
$ci-color-gainsboro: #dfdfdf;
$ci-color-nobel: #999999;
$ci-color-nobel-f2: #f2f2f2;
$ci-color-dim-gray: #707070;
$ci-color-half-spanish-white: #e6dac3;
$ci-color-mabel: #cfe2e2;
$ci-color-pale-blue: #dfe7ec;
$ci-color-cyan-biru: #8da2ae;
$ci-color-faux-electric: #b75a5a;
$ci-color-dari-cyan: #29b8b3;
$ci-color-light-green: #dae3da;
$ci-color-ecko-blue: #9fb9c8;
$ci-color-light-brown: #fbb75d;
$ci-color-medium-red-violet: #2d71be;
$ci-color-medium-blue: #6a9bc1;
$ci-color-contains-mainly-green: #68ae6c;
$ci-color-contains-mainly-blue: #0080c9;
$ci-color-green: #bcd6bf;
$ci-color-cyan: #e9eff2;
$ci-color-black: #4d4d4d;
$ci-color-semi-black: #333333;
$ci-color-greyish: #f6f6f6;
$ci-color-backgray: #c8c8c8;
// box shadow cho phần đang nhập
$ci-boxshadow-inline1: inset 5px 5px 10px #cccccc;
$ci-boxshadow-inline2: inset -5px -5px 10px #ffffff;
$ci-color-light-red: #f85252;
// màu thanh list phần profile
$ci-profile-list: #ebebeb;
$ci-color-paint-chip: #e1bf7b;
$ci-color-badge-2: #b1add8;
$ci-color-border:#ced4da;
