@import "../../../../shared/scss/variables.scss";

.dot {
    cursor: pointer;
}

.container-mess {
    height: 70vh;
    .message-top {
        height: 50%;
        overflow: auto;
        .search {
            margin-bottom: 25px;
            input {
                outline: none;
            }
        }
    }
    .message-bottom {
        height: 50%;
        overflow: auto;
        .search {
            margin-bottom: 10px;
        }
        .list-provider {
            .provider-detail {
                display: flex;
                background: $ci-color-white;
                border-radius: 15px;
                align-items: center;
                height: 43px;
                margin-bottom: 5px;
                padding: 5px;
                img {
                    height: 30px;
                    width: 30px;
                    display: block;
                    border-radius: 50%;
                }
                .provider-infor {
                    width: 50%;
                    font-size: 15px;
                    font-weight: 500;
                    margin-left: 20px;
                }
            }
        }
    }
}


.ci-mess-scroll {
    height: 55vh;
    overflow: auto;
}
.mess-title {
    width: 100% !important;
    font-size: 20px;
    font-weight: 700;
    color: $ci-color-dim-gray;
    margin-left: 15px;
}

.pl-35px {
    padding-left: 35px;
}

.ci-message {
    padding: 20px 15px 30px 15px;
    .list-message {
        height: 80vh;
        border-radius: 20px;

        overflow: auto;
    }
    .detail-message {
        padding-right: 0px;
        padding-left: 30px;
        .detail-message-2 {
            border-radius: 20px;

            height: 80vh;
            
        }
    }
}

::ng-deep .ci-message {
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
        display: none;
    }
    .mat-tab-label {
        height: 48px;
        padding: 0 24px;
        cursor: pointer;
        box-sizing: border-box;
        opacity: 0.6;
        min-width: 30px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        position: relative;
    }
    .mat-tab-body-wrapper {
        padding: 30px 10px;

        .ci-body-mess {
            min-height: 55vh;
            padding-top: 10px;
        }
    }
}
