@import "../../../../shared/scss/variables.scss";
label {
    color: $ci-color-ecko-blue;
    font-weight: bold;
    margin-bottom: 0px;
}
::ng-deep .account {
    .mat-tab-labels {
        background-color: $ci-color-white;
        border-radius: 15px;
        height: 50px;
        box-shadow: inset 5px 3px 6px #c2c2c2, inset -5px -5px 10px #ffffff;
    }
    .mat-tab-label:first-child {
        border-bottom: 2px solid rgb(112, 112, 112, 0.2);
        height: 40px;
        margin-left: 25px;
    }
    .mat-tab-label:last-child {
        border-bottom: 2px solid rgb(112, 112, 112, 0.2);
        height: 40px;
        margin-right: 25px;
    }
    .mat-tab-label {
        border-bottom: 2px solid rgb(112, 112, 112, 0.2);
        height: 40px;
    }
}
