<div class="background">
    <img src="assets/svg/logo.svg">
    <form class="container">
        <button
            class="navigate-signin"
            routerLink="/login"
        >
            <i class="material-icons">
                arrow_drop_down
            </i>
        </button>
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="title">
                    Forgot <br> <br> your password
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto">
                Please enter your email address. You will receive a link to create a new password via email
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto">
                <input
                    class="ci-input-login"
                    type="text"
                    name="email"
                    placeholder="Email"
                >
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto">
                <button class="ci-button-login">
                    Send
                </button>
            </div>
        </div>
    </form>
</div>
