@import "../../../shared/scss/variables.scss";

.background {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
      height: 100px;
      margin: 30px;
      left: 0;
      top: 0;
    }
}

.row {
    margin-bottom: 2em;
    a {
        color: $ci-color-dim-gray;
    }
}

.title {
    width: 100%;
    color: $ci-color-ecko-blue;
    font-size: 2.2em;
    margin-top: 2.5em;
}

.navigate-signin {
    border: none;
    background: $ci-color-ecko-blue;
    color: $ci-color-white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    float: right;
    margin-top: 0.8em;
    outline: none;
    i {
        position: absolute;
        font-size: 3em;
        right: -9px;
        bottom: -7px;
    }
}

.container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f5f8f9;
    box-shadow: 5px 5px 10px #9a9c9d, -5px -5px 10px $ci-color-white;
    width: 30rem;
    height: 90vh;
}
