<div class="wrapper">
    <div class="select-header">
        <span>Add descriptors</span>
        <div>
            <button class="ci-button-cancel" (click)="closeDialog()">
                {{ "CANCEL" | translate }}
            </button>
            <button class="ci-button-save" (click)="createSymptomDescriptor()">
                {{ "SAVE" | translate }}
            </button>
        </div>
    </div>
    <div class="header">
        <div class="row">
            <mat-tab-group mat-stretch-tabs animationDuration="0ms" class="insideShadow col p-0 height-81" (selectedTabChange)="onGetListDescriptor($event)">
                <mat-tab *ngFor="let descriptor of listDescriptor">
                    <ng-template mat-tab-label>
                        <span>{{descriptor.Name}}</span>
                    </ng-template>
                    <div class="content">
                        <div class="list-item">
                            <div class="item" *ngFor="let item of descriptor.listItem" (click)="(item.checked === null)? (item.checked = true) : (item.checked = !item.checked)"[class]="item.checked==true ?'itemActive' :''">
                                {{item.Name}}
                            </div>
                        </div>
                        <div class="input">
                            <input type="text" placeholder="Text" name="Name" [(ngModel)]="model.Name">
                            <mat-icon class="mat-icon-style" (click)="createDescriptorId()">add_circle_outline
                            </mat-icon>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- <div class="add" (click)="openAddSelect()">
            <mat-icon class="mat-icon-style">add_circle_outline</mat-icon>
        </div> -->
    </div>


</div>
