<div class="ci-list-of-visit">
    <div class="row mb-4">
        <div class="col-12 ci-body-text-h1 ci-dflex-modal">
            <div></div>
            <div>
                <button class="ci-button-cancel" (click)="closeDialog()" type="button">
                    {{ "CANCEL" | translate }}
                </button>
            </div>
        </div>
        <div class="col-12 srcoll-list-of-visit">
            <img class="image-list-of-visit" [src]="imgLink">
            <!-- <img id="nurse" *ngIf="check !== true" class="image-list-of-visit" [src]="imgLinkNurse"> -->
        </div>
    </div>
</div>
