.ci-list-of-visit {
    background-color: white !important;
    .srcoll-list-of-visit {
        overflow: auto;
        height: 84vh;
        .image-list-of-visit {
            width: 100%;
        }
    }
}
