<!-- <div class="col" style="padding-top: 0.5rem;">
    <h3>Today</h3>
    <h3 style="font-weight: normal;">14/03/2020</h3>
</div>
<div class="row text-center today">
    <div class="col">
        <div style=" overflow: hidden;">
            <img src="assets/svg/today.svg" alt="">
        </div>
        <div class="box-content" id="box">
            <div class="text-content">
                <p>Review your patient</p>
            </div>
            <img (click)=" openBox()" src="assets/svg/arrow-down.svg" alt="">
        </div>
        <div class="box-content-large" id="box-large">
            <div class="text-content-large scrollbars">
                Review your patient's tests
                Contact her to make new appointment
            </div>
            <img (click)="closeBox()" src="assets/svg/arrow-down.svg" alt="">
        </div>
    </div>
</div> -->