<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 ci-title-fz20">
            {{ "NOTIFICATION" | translate }}
        </div>
        <div class="col-6">
            <app-user></app-user>
        </div>
        <div class="table insideShadow mt-2">
            <div class="container-fluid">
                <b class="noti-new">New</b>
            </div>
        </div>
        <div class="table insideShadow">
            <div class="container-fluid">
                <b class="noti-new">Last Results</b>
            </div>
        </div>
    </div>
</div>