::ng-deep .plan {
    .mat-tab-labels {
        background-color: #ffffff;
        border-radius: 15px;
        height: 50px;
    }
    .mat-tab-body-wrapper {
        height: 100%;
    }
}

.height-72vh {
    height: 72vh;
}
