<div class="container-fluid mt-4">
    <div class="row m-0">
        <div class="w-100 profile__nav test">
            <mat-tab-group
                mat-stretch-tabs
                mat-align-tabs="center"
                class="col outsideShadow p-0"
            >
                <mat-tab label="Lab">
                    <app-lab [(modelPatient)]="modelPatient">
                        <ng-template mat-tab-label>
                            <span>{{ "Lab" | translate }}</span>
                        </ng-template>
                    </app-lab>
                </mat-tab>
                <mat-tab label="Biopsy">
                    <app-biopsy>
                        <ng-template mat-tab-label>
                            <span>{{ "Biopsy" | translate }}</span>
                        </ng-template>
                    </app-biopsy>
                </mat-tab>
                <mat-tab label="Functional Tests">
                    <app-functional-tests [(modelPatient)]="modelPatient">
                        <ng-template mat-tab-label>
                            <span>{{ "Fuctional Tests" | translate }}</span>
                        </ng-template>
                    </app-functional-tests>
                </mat-tab>
                <mat-tab label="Imaging">
                    <app-imaging [(modelPatient)]="modelPatient">
                        <ng-template mat-tab-label>
                            <span>{{ "Imaging" | translate }}</span>
                        </ng-template>
                    </app-imaging>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>