.add-history {
  font-weight: bold;
  font-size: 16px;
}

.btn-1 {
  display: flex;
  flex-direction: row;
}
.example-full-width {
  width: 95%;
}

.ci-incoice-verify-edit {
  margin-top: 2em;
}
.view-form {
    margin-top: 20px;
  .row {
    margin-bottom: 20px;
    select{
        width: 90%;
        background: none;
        border: none;
        border-bottom: 2px solid #ced4da !important;
    }
    input{
        width: 90%;
        background: none;
        border: none;
        border-bottom: 2px solid #ced4da !important;
    }
  }
}
