.allergy{
    margin: 0 15px 0 15px;
}
.ci-allegry {
    mat-icon {
        font-size: 25px;
        color: #707070;
    }
}
.margin-allergy {
    margin-right: 15px;
    margin-top: 24px;
    margin-left: 15px;
}
.allergy_padding {
    padding: 9px 15px;
}
